.contacto h1 {
    text-align: center;
    margin: 5rem 0;
    /* color: var(--color-segundario); */
    font-size: 5rem;
}

.contacto .contenedor-contacto h2 {
    text-align: center;
    margin-bottom: 7.4rem;
    /* color: var(--color-principal); */
    margin-bottom: 1.3rem
}

.informacion-contacto {
    display: flex;
    flex-direction: column;
}

.informacion-contacto h3,
.informacion-contacto p {
    text-align: center;
    color: #000;
}

.informacion-contacto h3 {
    margin-bottom: 1.3rem;
}

.informacion-contacto p {
    font-weight: 500;
    color: #272727;
    font-size: 1.8rem;
}

.informacion-contacto .arriba {
    margin-bottom: 5.1rem;
}

.informacion-contacto .abajo {
    margin-bottom: 10.4rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 9.4rem;
}

form,
form .arriba,
form .abajo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

label,
input,
textarea,
input::placeholder {
    text-align: center;
}

label {
    margin-bottom: 0.6rem;
    font-weight: 500;
    font-size: 2.3rem;
}

input {
    /* text-align: initial; */
    height: 5.1rem;
    width: 77%;
    align-self: center;
    border: solid #747474 0.2rem;
    border-radius: 1.2rem;
}

textarea {
    height: 29.7rem;
    width: 77%;
    align-self: center;
    margin-bottom: 4rem;
    border-radius: 1.2rem;
}

.btn-contato {
    border-radius: 1.2rem;
}

@media only screen and (min-width: 63.938rem) {
    .informaciones-contacto {
        display: flex;
        width: 100%;
    }
    .informacion-contacto {
        width: 50%;
        align-self: center;
    }
    .informacion-contacto h3 {
        font-size: 3rem;
    }
    .informacion-contacto p {
        font-size: 2.6rem;
    }
    .formulario {
        width: 50%;
    }
    form,
    form .arriba,
    form .abajo {
        text-align: initial;
    }
    form .arriba {
        flex-direction: row;
    }
    /* .arriba .izquierda, .arriba .derecha{
    text-align: center;
  } */
    form .abajo .izquierda {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    form .abajo .izquierda input {
        width: 50%;
        align-items: flex-start;
        align-self: auto;
    }
    form .abajo .derecha {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .derecha {
        width: 70%;
    }
    textarea {
        align-self: auto;
        text-align: left;
        padding: 1rem 0 0 1rem;
    }
    input.boton.btn-contato {
        display: flex;
        width: 25%;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        margin-right: 0 auto;
    }
    /* input.boton.btn-contato {
        width: 26%;
    } */
}